<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="txtcontent" style="width: 500px;height: 250px;border: 1px solid gray"></div>
<div>所有用户:<select id="listuers"></select></div>
<div>你的昵称:<input type="text" id="username" /></div>
<div>

    <textarea style="width: 500px;height: 100px" id="txtmsg"></textarea>
</div>
<div>
    <button onclick="connectServer()">连接服务器</button>
    <button onclick="send()">发送消息</button>
</div>


<script>
    ws = new WebSocket("ws://127.0.0.1:8282");
    ws.onmessage = function (e) {
        console.log(e)
    }
</script>
</body>

</html>
